.vbox-container {
    -fx-padding: 10px;
    -fx-spacing: 10px;
    -fx-background-color: #f0f0f0;
}


#imageView5 {
    -fx-fit-height: 20%;
    -fx-fit-width: 100%;
    -fx-background-size: cover;
}


.hbox-content {
    -fx-spacing: 10px;
}


.list-view {
    -fx-pref-width: 300px;
}


.button-join {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
}
hboxActivities{
    display: flex;
    flex-wrap: wrap;
}