.homepageWholePage{
    -fx-background-image: url('../Images/LoginBackground.jpg');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-pref-height: 1080;
    -fx-background-color: rgba(0,0,0, 0.8);
}
.menuTitle{
    -fx-pref-width: 200;
    -fx-alignment: center;
    -fx-font-size: 30;
    -fx-font-weight: bold;

}
.scroll-pane .scroll-bar{
    -fx-max-width: 0;
    -fx-max-height: 0;
}

.menuVbox{
    -fx-pref-width: 240;
    -fx-pref-height: 870;
    -fx-alignment: center;
}

.scrollPane{
    -fx-pref-width: 1690;
    -fx-pref-height: 870;
    -fx-background-color: transparent;
    -fx-background: transparent;

}
.flowPane{
    -fx-background-color: transparent;
    -fx-background: transparent;
}
.vboxContainer{
    -fx-alignment: center;
    -fx-pref-width: 530;
    -fx-pref-height: 280;
    -fx-border-color: black;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-padding: 10;
    -fx-hgap: 10;
    -fx-background-color: #f0f0f0;;
}
.sideMenuButton{

    -fx-text-fill: #fff;
    -fx-font-size: 16px;
    -fx-pref-width: 200px;
    -fx-pref-height: 100px;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}
.sideMenuButton:hover{
    -fx-background-color: #555;
    -fx-text-fill: #28b2fc;
}