.title{
    -fx-font-size: 24;
}
.menuVbox{
    -fx-pref-width: 240;
    -fx-pref-height: 768;
    -fx-background-color: #f0f0f0;
}
.sideMenuButton{

    -fx-text-fill: #28b2fc;
    -fx-font-size: 24px;
    -fx-pref-width: 240px;
    -fx-pref-height: 100px;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

#goBack{
    -fx-font-family: Georgia;
    -fx-font-size: 40;
    -fx-border-radius: 10px;
    -fx-background-radius: 12px;
    -fx-border-width: 3px;
    -fx-border-color: #514660;
    -fx-effect: innershadow(gaussian, #a9acca, 10, 0, 0, 3);
    -fx-margin: 20px;
    -fx-alignment: center;
    -fx-text-fill: #351C75;
    -fx-background-color: radial-gradient(center 50% 50%, radius 100%, #e8e4f3, #8E7CC3);
}

#shopWelcome{
    -fx-font-family: Georgia;
    -fx-font-size: 40;
    -fx-font-weight: bold;
    -fx-text-fill: #0f1e50; /*  Welcome to my robot! */
}