.title{
    -fx-font-family: Georgia;
    -fx-font-size: 35;
    -fx-font-weight: bold;
    -fx-text-fill: #0f1e50;
}
.menuVbox{
    -fx-pref-width: 240;
    -fx-pref-height: 768;
    -fx-background-color: #f0f0f0;
}
.sideMenuButton{

    -fx-pref-width: 240px;
    -fx-pref-height: 100px;
    -fx-font-family: Georgia;
    -fx-font-size: 26;
    -fx-border-width: 3px;
    -fx-border-color: #8ea9f6;
    -fx-effect: innershadow(gaussian, #a9acca, 10, 0, 0, 3);
    -fx-margin: 20px;
    -fx-alignment: center;
    -fx-text-fill: black;
    -fx-background-color: radial-gradient(center 50% 50%, radius 100%, #e8e4f3, #8ea9f6);
}
.sideMenuButton:hover{
    -fx-background-color: radial-gradient(center 50% 50%, radius 100%, #e8e4f3, #5584ff);
    -fx-text-fill: #0035b7;
}
.boldText{
    -fx-font-weight: bold;
    -fx-font-size: 12px;
}
.green{
    -fx-text-fill: #4CAF50;
}
.red{
    -fx-text-fill: #f44336;
}






